*{
  margin: 0;
  box-sizing: border-box;
 
 }
 html{
  font-size: 62.5%;
 }
 .outer-container{
  display: grid;
   background-color:#dbe1e7;
 height: 100vh;
 grid-template-areas: 'item1 item2 item3'
 'item4 item5 item6' 'item7 item8 item9' ;
 }
 div{
  position: relative;
  display: grid;
 }
 button{
  background-color: transparent;
  border: 2px solid #adb5bd;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  color: #faa307;
  font-size: 1.5rem;
  text-transform: capitalize;
 position: absolute;
 box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
 margin: 1rem;
 cursor: pointer;
 }
 button:hover{
  background-color: #faa307;
  color: white;
  border: transparent;
 }
 .item2{
  display: grid;
 justify-items: center;
 }
 
 .t-r{
  right: 0;
 }
 
 .item4{
  align-items: center;
 }
 .item5{
 position: relative;
 grid-template-columns: auto auto auto;
 grid-template-rows: auto auto auto;
 }
 .top{
 grid-column-start: 1;
 grid-column-end: 4;
 justify-items: center;
 }
 .bottom{
  grid-column-start: 1;
 grid-column-end: 4;
 justify-items: center;
 }
 
 .c-l{
 top: 50%;
 transform: translateY(-70%);
 }
 .c-r{
 right: 0;
 top: 50%;
 transform: translateY(-70%);
 }
 
 .b-l{
  bottom: 0;
 }
 
 .b-c{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 }
 .b-r{
  bottom: 0;
  right: 0;
 }
 
 .c-up{
  top: 6%;
 }
 .c-bottom{
  bottom: 6%;
 }
 
 .c-left{
  left: 0;
  margin: 0;
 }
 .c-right{
  right: 0;
  margin: 0;
 }
 
 .center{
  align-items: center;
  justify-items: center;
 }
 .center-left{
  align-items: center;
  }
 .center-right{
  align-items: center;
  }
 
  @media screen and (max-width:740px) {
   .item5{
  left: 50%;
  transform: translateX(-50%);
    width: 30rem;
   
   }
  }